<!doctype html>
<html ng-app="appLunchChecker" lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="lunchCheckerController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="Enter items"
             class="form-control" ng-model="lunch_menu">
         </div>
         <div class="form-group">
             <button ng-click="submit()" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message" >
           <!-- Your message can go here. -->
           {{message()}}
         </div>
   </div>

</body>
</html>
